* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

:root {
  --primary: #ff900e;
  --dark-text: #131313;
  --white: #fff;
  --text: #424242;
}

/* common class start  */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin: 100px auto 0px;
  padding: 30px;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-btn {
  display: inline-block;
  padding: 10px 30px;
  color: var(--white);
  background: var(--primary);
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--primary);
  text-align: center;
  text-transform: capitalize;
}

.color-text {
  color: var(--primary);
}

.thin-text {
  font-weight: 500;
  color: var(--text);
}

p {
  color: var(--text);
  font-size: 1.2rem;
  line-height: 30px;
}
/* common class end */

a {
  text-decoration: none;
}

header {
  background: rgba(255, 144, 14, 0.1);
}

/* nav section style start */
.nav {
  padding: 30px 20px;
}

.nav .logo a {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-text);
}

.nav .nav-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.nav .nav-link a {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--text);
}
/* nav section style end */

/* hero section style start  */
.hero .hero-info {
  gap: 30px;
  text-align: center;
}

.hero .hero-info h1 {
  font-size: 4rem;
  font-weight: 800;
}

.hero .hero-info p {
  max-width: 900px;
}

.hero .hero-image img {
  margin-top: 50px;
  width: 100%;
}
/* hero section style end */

/* quick-feature style start  */
.quick-feature,
.our-feature {
  display: flex;
  align-items: center;
  gap: 80px;
}

.quick-feature .quick-feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.quick-feature .quick-feature-images img,
.our-feature-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.quick-feature-content h2,
.our-feature-content h2 {
  font-size: 3.5rem;
  max-width: 480px;
  color: var(--dark-text);
  text-transform: capitalize;
}

.quick-feature-content p {
  max-width: 540px;
  margin: 10px 0 30px;
}
/* quick-feature style end */

/* our-feature-content style start  */

.our-feature-content{
  max-width: 590px;
}
.our-feature-title {
  border-left: 8px solid var(--primary);
  padding-left: 20px;
}

.our-feature-content .our-feature-subtitle {
  margin: 30px 0;
}

.our-feature-cards-container{
  gap: 20px;
}

.our-feature-card{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.our-feature-card p{
  font-size: 1rem;
  line-height: 24px;
  padding-top: 10px;
}
/* our-feature-content style end */
